// Layout
$mobile-w: 375px;
$desk-w: 1440px;

// Primary colors
$cyan: hsl(179, 62%, 43%);
$b-yellow: hsl(71, 73%, 54%);

// Neutral colors
$light-grey: hsl(204, 43%, 93%);
$greyish-blue: hsl(218, 22%, 67%);

// Typography
$fsize: 16px;
$ff: 'Karla', sans-serif;
$ff-light: 400;
$ff-bold: 700;

// sizing units
$around: 2.2rem;
